#randomRecipe {
  max-width: 600px;
  text-align: center;
}
.recipeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust the height to cover the top half of the page */
  background-color: #f1f1f1;
  padding: 20px;
}
