.ingredientsContainer{    
  justify-content: center; 
  margin: 10px;
  padding-bottom: 10px;
  }

.ingredients-box {
  border-radius: 10px;
  max-width: 80%;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding-bottom: 10px;
}

.heading-container {
  text-align: center;
}

.list-container {
  margin-top: 10px; /* Optional: Adjust the spacing between heading and list */
  
}
h1{
  background-color: orange;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 25px;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-top: 8px;
}

.list-item > input {
  margin-right: 12px;
  width: 18px;
  height: 18px;
  appearance: none;
  border: 2px solid #333;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.list-item > input:checked {
  background-color: #333;
}

.list-item > input:checked + span {
  color: #888;
  text-decoration: line-through;
}

.list-item > input:focus {
  box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.3);
}


.list-item > span {
  flex-grow: 1;
}

.ing-list {
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
}
