.navigation-bar {
    position: fixed;  /* Make navigation bar fixed */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the navigation bar to occupy the full viewport height */
    width: 200px;
    overflow: auto;  /* Add scroll to navigation bar if content overflows */
  }
  
  .logo {
    padding: 10px;
    font-weight: bold;
    background-color: #f0f0f0;
  }
  
  .navigation-item {
    flex: 1; /* Allow the navigation items to expand and occupy equal vertical space */
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }
  
  .navigation-item:hover {
    background-color: #ddd;
  }
  
  .navigation-item.active {
    background-color: #ccc;
    font-weight: bold;
  }
  
  .toggle-button {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101; /* Make sure this is above the navigation bar */
    /* Add any other styling you need */
  }
  
  